doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="assets/css/main.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
        title Landing 1440w
    body 
        .conteiner
            .main  
                .main-logo
                    .main-logotip 
                        img(src="assets/images/logo.svg", alt="")
                    .main-logotip2 
                        img(src="assets/images/brend.svg", alt="")
                    .main-burger 
                        img(src="assets/images/sandvish.svg", alt="")
                .main-sitytext 
                    .main-littletext 
                        p A place where
                    .main-bigtext
                        p A creative agency for redemptive brands 
                    .main-midleetext 
                        p Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
                    .main-yellowtext 
                        img(src="assets/images/caret-right-solid.svg", alt="")
                        p   &#160 Get in touch 

            .conteiner 
                .whiteblock 
                    .whiteblock-flex 
                        .whiteblock-itemimg 
                            img(src="assets/images/16_Andrew-Porter-Logo.png", alt="")
                        .whiteblock-itemimg 
                            img(src="assets/images/17_Jalen-Rose-Leadership-Academy-Logo.png", alt="")
                        .whiteblock-itemimg 
                            img(src="assets/images/Wal.png", alt="")
                        .whiteblock-itemimg 
                            img(src="assets/images/ideal.png", alt="")
                        .whiteblock-itemimg 
                            img(src="assets/images/PhalenLeadership.png", alt="")
            .conteiner 
                .conteiner-height805.conteiner-margin-left165-right166
                    .conreiner-flex-row.rectangle
                        .conteiner-left
                            .conteiner-littletext 
                                p What we do for you
                            .conteiner-bigtext 
                                p Strategy. Design  Content. 
                                    span.tecj Technology 
                                p Development 
                            .conteiner-middletext 
                                p There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
                            .conteiner-yellowtext 
                                img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                p   &#160 More know About us 
                        .conteiner-right
                            .conteiner-card 
                                .conteiner-block-white 
                                    .conteiner-card-text
                                        p With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
                                    .conteiner-card-zonewithoval
                                        .conteiner-card-img 
                                            
                                        .conteiner-card-zonetext 
                                                .conteiner-card-bigtext 
                                                    p Genevieve Rodriquez
                                                .conteiner-card-smalltext
                                                    p Founder & CEO, Webovio
            .conteiner 
                .conteiner-margin-left165-right166.paddingtop100.margin-bottom100
                    .conreiner-flex-row.grid-gap133.hight100
                        .conteiner-bigtext2.paddingt10.minimargin
                            p We Have Some 
                            p Awesomr Project. 
                        .conteiner-middletext2.padding10
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            .conteiner 
                .conreiner-flex-row2.grid-gap96
                    .conteiner-img1
                    .conteiner-rightsite
                        .conteiner-bigtext2.marginb32.maxw241
                            p The wall new Balenciaga.com 
                        .conteiner-middletext2.marginb5.marginb6
                            p This article is floated online with an aim to help you find the best dvd printing solution.
                            p Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                        .conteiner-yellowtext 
                                img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                p   &#160 See Case Study 
            .conteiner 
                .cards 
                    .cards-text 
                        p “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
                    .cards-footer 
                        .cards-face1 
                        .cards-twotext 
                            .cards-firsttext
                                p  Angel Armstrong
                            .cards-secondtext 
                                p  Founder & CEO, Google
            .conteiner.marginb165
            .conteiner 
                .conteiner.paddingl172.height550.flexrow.flexgap115
                    .conteiner.flexcollum.paddingt80
                        .con-bigtext.marginb32 
                            p Is this the future of
                            p 3D model?
                        .con-middletext2.maxw418.mb90
                            p.mb26 While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
                            p It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
                        .conteiner-yellowtext 
                            img(src="assets/images/caret-right-solid-gren.svg", alt="")
                            p   &#160 See Case Study 
                    .conteiner-img2
            .conteiner 
                .cards2 
                    .cards-text 
                        p “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.
                    .cards-footer 
                        .cards-face2 
                        .cards-twotext 
                            .cards-firsttext2
                                p  Lina Hart
                            .cards-secondtext 
                                p  Founder & CEO, Jico
            .conteiner.mb135
            .conteiner 
                .conreiner-flex-row2.grid-gap96
                    .conteiner-img3
                    .conteiner-rightsite
                        .conteiner-bigtext2.marginb32.maxw349
                            p.pl7  Is this the future of 
                            p Online Booking 
                        .conteiner-middletext2.marginb5.marginb116
                            p You should be able to find several indispensable facts about motivation in the following paragraphs.
                            p  If there’s at least one fact you didn’t know before, imagine the difference it might make.
                        .conteiner-yellowtext 
                                img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                p   &#160 See Case Study 
            .conteiner 
                .cards3 
                    .cards-text.maxw388.mb23
                        p “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
                    .cards-footer 
                        .cards-face3 
                        .cards-twotext 
                            .cards-firsttext
                                p  Eunice Oliver
                            .cards-secondtext 
                                p  Founder & CEO, Zeem
            .conteiner.mb190
            .conteiner-w1110.m0a.bb
            .conteiner.h933
                .conteiner.conteiner-margin-left165-right166.pt149
                    .conteiner.flexcollum 
                        .conteiner.mb85
                            .conteiner-bigtext2.maxw597
                                p.mb-2 Deation & Evaluation - Best Way 
                                p to Kick off Your Product Idea 
                        .conteiner.flexrow.pl30
                            .conteiner.flexcollum.maxw201.mr84
                                .con-bigtext2.mb20
                                    p Product Design Sprint
                                .con-middletext.mb56 
                                    p A five-day workshop that will help you answer crucial business questions
                                .con-greytext.flexrow
                                    img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                    p &#160 Read More
                            .conteiner.flexcollum.maxw193.mr92
                                .con-bigtext2.mb20
                                    p Scoping Session
                                .con-middletext.mb30.f500 
                                    p A workshop aimed at shaping your business idea, answering questions regarding project planning
                                .con-greytext.flexrow
                                    img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                    p &#160 Read More
                            .conteiner.flexcollum.maxw193.mr92
                                .con-bigtext2.mb20
                                    p UX
                                    p Review
                                .con-middletext.mb56.f500
                                    p An evaluation which will help you radically improve your product.
                                .con-greytext.flexrow
                                    img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                    p &#160 Read More
                            .conteiner.flexcollum.maxw193
                                .con-bigtext2.mb20
                                    p Code 
                                    p Review
                                .con-middletext.mb30.f500
                                    p Do you know what one of the key secrets of success is what makes people successful in business
                                .con-greytext.flexrow
                                    img(src="assets/images/caret-right-solid-gren.svg", alt="")
                                    p &#160 Read More
            .conteiner 
                .conteiner.whitebox
                    .conteiner.flexcollum 
                        .con-royaltext.maxw682.mb50
                            p Let’s make something amazing together.
                        .con-royal-footertext.flexrow 
                            img(src="assets/images/caret-right-solid-gren.svg", alt="")
                            p &#160 LET'S GET STARTED
            .conteiner 
                .con-green
            .conteiner
                .con-bigimag
            .conteiner.h675.conteiner-margin-left165-right166.pt64
                .conteiner.flexcollum
                    .conteiner.flexcollum.h140.Rectangle.mb61
                        .conteiner.flexrow
                            .conteiner.flexcollum.mr129
                                .con-greentext.mb8 
                                    p Phone
                                .con-numtext 
                                    p +32 50 31 28 32
                            .conteiner.flexcollum 
                                .con-greentext.mb8 
                                    p Address
                                .con-numtext 
                                    p 491 Merlin Crest Suite 963
                    .conteiner.flexcollum.h319.Rectangle.mb24             
                        .conteiner.flexrow
                            .conteiner.flexcollum.mr102
                                .con-greentext2.mb20 
                                    p Services
                                .con-greentext 
                                    p Strategy Design
                                .con-greentext 
                                    p Product Design
                                .con-greentext 
                                    p Content Strategy
                                .con-greentext 
                                    p Brand Strategy
                                .con-greentext 
                                    p Development
                            .conteiner.flexcollum.mr121
                                .con-greentext2.mb20 
                                    p Help And Advice
                                .con-greentext 
                                    p How it works
                                .con-greentext 
                                    p Contact Support
                                .con-greentext 
                                    p Privacy Policy
                                .con-greentext 
                                    p FAQ
                            .conteiner.flexcollum.mr97
                                .con-greentext2.mb20 
                                    p Company
                                .con-greentext 
                                    p About
                                .con-greentext 
                                    p Blog
                                .con-greentext 
                                    p Contact
                                .con-greentext 
                                    p Jobs
                            .conteiner.rentagler.mr110
                            .conteiner.flexcollum
                                .con-greentext2.mb23 
                                    p Get in Touch
                                .con-greentext3.maxw248.mb22
                                    p Feel free to get in touch with us vai email
                                .con-mail.mb24
                                    p info.webovio@gmail.com
                                .conteiner.flexrow 
                                    .con-facebook.pl11.pt9.mr10
                                        img(src="assets/images/facebook-f.svg", alt="" height="20px" width="10px")
                                    .con-facebook.pl11.pt5.mr15
                                        img(src="assets/images/twitter.svg", alt="" height="30px" width="15px")
                                    .con-google.pl6.pt7.mr13
                                        img(src="assets/images/google-plus-g.svg", alt="" height="25px" width="25px")
                                    .con-facebook.pl11.pt5
                                        img(src="assets/images/linkedin-in.svg", alt="" height="30px" width="15px")
                    .conteiner 
                        .conteiner.flexrow 
                            .con-logo.mr621
                                img(src="assets/images/Group 7.svg", alt="" )
                            .com-reserve.pt8 
                                p © 2020@webovio. All Rights Reserved.
            